.max-size {
    height: 100%;
    width: 100%;
}

.header-form {
    background-image: url("https://images.unsplash.com/photo-1551672746-89991811c186?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    max-height: 55%;

}

.header-form--body {
    height: 100%;
    position: relative;
}




.header-form--form {
    background-color: rgba(100,100,100,0.44);
    position: absolute;
    bottom: 10%;
}


